body {
    background-color: #d298e9;
}
.band:hover.band:hover.focus{
    background-color: red;
}
.load:hover{
    background-color: green;
}
.bold:hover{
    background-color: blue;
}
div{
    text-shadow: 2px 2px 10px blue ;
}
span >h1{
    text-align: center;
    background-color: #c53232;
    color: #04d9ff;
}
span >p{
    text-align: center;
    background-color: rgb(166, 255, 0);
    color: #c53232;
}
button{
    /* background-color: #98189a;
    border-color: green; */
    margin-top: 500px
    margin-left: 50px;
    
     outline: none; 
    background-image: linear-gradient(to right,#d65a34,#0b6eb1);
}
p{
    text-decoration: underline;
}